<form class="" action="<%= new_user_url %>" method="post">
  <label>
    <input type="text" name="user[user_name]" value="<%= user.user_name %>">
  </label>
  <br>
  <label>
    <input type="text" name="user[password]" value="">
  </label>
  
</form>